In [2]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [3]:
df = pd.read_excel (r'C:\Users\aahr1\Documents\Jupyter Notebook\NaiveBayes\dataSet.xlsx')
df

    f1     f2  label
0  120  16.54      1
1   90  14.69      0
2  110  17.21      1
3  105  15.24      1
4   95  13.20      0
5  115  16.69      1
6  104  16.24      1
7   99  15.11      0
8  103  15.75      1

In [4]:
features=df.iloc[:,:len(df.columns)-1]
lables=df.loc[:,'label'].eq(1)

In [5]:
ms=np.empty([len(features.columns),4])

In [6]:
for i in range(len(features.columns)):    
            
    a=features.iloc[np.where(lables==False)].iloc[:,i]
    b=features.iloc[np.where(lables==True)].iloc[:,i]
    
    mu0=np.mean(a)
    std0=np.std(a)
    
    mu1=np.mean(b)
    std1=np.std(b)
    
    ms[i,:]=[mu0,std0,mu1,std1]

In [7]:
test=[100  ,  16.22]

In [8]:
norm0,norm1=1,1

In [9]:
for i in range(len(ms)):
    norm0*=norm.pdf(test[i], loc=ms[i,0], scale=ms[i,1])
    norm1*=norm.pdf(test[i], loc=ms[i,2], scale=ms[i,3])

In [13]:
p0=np.sum(df.loc[:,'label']==0)/len(df)
p1=np.sum(df.loc[:,'label']==1)/len(df)

In [14]:
if norm0*p0 > norm1*p1:
    print('az class 0')
else:
    print('az class 1')

az class 1